[Unit]
Description=Angular

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
WorkingDirectory=/home/TeamAPoolProjectUI/
ExecStart=/home/TeamAPoolProjectUI ng serve
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target